services:
  db-dev:
    image: postgres:17
    restart: always
    env_file:
      - .env.development
    ports:
      - "5433:5432"
    volumes:
      - pgdata_dev:/var/lib/postgresql/data

  db:
    image: postgres:17
    restart: always
    env_file:
      - .env.production
    ports:
      - "5435:5432"
    volumes:
      - pgdata_prod:/var/lib/postgresql/data

  api:
    build: .
    depends_on:
      - db
    env_file:
      - .env.production
    ports:
      - "3000:3000"

volumes:
  pgdata_dev:
  pgdata_prod:
